@import "tailwindcss";


@theme {
  --color-primary: oklch(0.208 0.042 265.755);
  --color-primary-border: oklch(0.704 0.04 256.788);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}